<a href="https://colab.research.google.com/github/Anagha7263/Data-Immersion-Wrangling-TASK-1/blob/main/exampl1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Load the data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/online_retail.csv')

# Display first few rows
print("First 5 rows of the dataset:")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/online_retail.csv'

In [ ]:
# Get basic information about the dataset
print("Dataset Shape:", df.shape)
print("\n" + "="*50)
print("Column Names:")
print(df.columns.tolist())
print("\n" + "="*50)
print("Data Types:")
print(df.dtypes)
print("\n" + "="*50)
print("Basic Statistics:")
df.describe()

Dataset Shape: (541909, 8)

==================================================
Column Names:
['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

==================================================
Data Types:
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

==================================================
Basic Statistics:

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
# Create a data dictionary as a DataFrame
data_dictionary = pd.DataFrame({
    'Column Name': ['InvoiceNo', 'StockCode', 'Description', 'Quantity',
                    'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
    'Data Type': ['String/Text', 'String/Text', 'String/Text', 'Integer',
                  'DateTime', 'Float', 'Float (Integer)', 'String/Text'],
    'Description': [
        'Unique invoice number. "C" prefix indicates cancellation',
        'Unique product code',
        'Product name/description',
        'Number of units purchased (negative = returns)',
        'Date and time of transaction',
        'Price per unit in GBP',
        'Unique customer identifier (NaN = unknown)',
        'Customer\'s country'
    ],
    'Example Values': [
        '536365, C536379',
        '85123A, 71053, POST',
        'WHITE HANGING HEART T-LIGHT HOLDER',
        '6, -1, 24',
        '2010-12-01 08:26:00',
        '2.55, 3.39, 0.00',
        '17850.0, 13047.0, NaN',
        'United Kingdom, France, Germany'
    ],
    'Business Relevance': [
        'Track transactions and identify cancellations',
        'Product identification and inventory tracking',
        'Understand what products are sold',
        'Calculate sales volume and analyze returns',
        'Time-based sales trends and peak hours analysis',
        'Revenue calculation and pricing strategy',
        'Customer behavior and repeat purchase analysis',
        'Geographic sales analysis'
    ]
})

# Display the data dictionary
print("DATA DICTIONARY:")
data_dictionary

# Save data dictionary to CSV
data_dictionary.to_csv('data_dictionary.csv', index=False)
print("\n Data dictionary saved as 'data_dictionary.csv'")

DATA DICTIONARY:

 Data dictionary saved as 'data_dictionary.csv'

In [ ]:
print("="*60)
print("DATA QUALITY ASSESSMENT")
print("="*60)

# 1. Check for missing values
print("\n1. MISSING VALUES:")
missing_values = df.isnull().sum()
missing_percentage = (df.isnull().sum() / len(df)) * 100
missing_df = pd.DataFrame({
    'Column': df.columns,
    'Missing Values': missing_values.values,
    'Percentage': missing_percentage.values
})
print(missing_df)

# 2. Check for duplicates
print("\n2. DUPLICATES:")
print(f"Total duplicate rows: {df.duplicated().sum()}")

# 3. Check for negative quantities
negative_qty = df[df['Quantity'] < 0]
print(f"\n3. NEGATIVE QUANTITIES:")
print(f"Rows with negative Quantity: {len(negative_qty)}")
print(f"Percentage: {(len(negative_qty)/len(df))*100:.2f}%")

# 4. Check for zero/invalid prices
zero_price = df[df['UnitPrice'] <= 0]
print(f"\n4. ZERO/INVALID PRICES:")
print(f"Rows with UnitPrice <= 0: {len(zero_price)}")

# 5. Check for cancelled orders (InvoiceNo starting with 'C')
cancelled = df[df['InvoiceNo'].astype(str).str.startswith('C', na=False)]
print(f"\n5. CANCELLED ORDERS:")
print(f"Rows with cancelled orders: {len(cancelled)}")

# 6. Check unique countries
print(f"\n6. UNIQUE COUNTRIES ({df['Country'].nunique()} total):")
print(df['Country'].value_counts().head(10))

# 7. Summary statistics for numeric columns
print("\n7. SUMMARY STATISTICS:")
df[['Quantity', 'UnitPrice']].describe()

============================================================
DATA QUALITY ASSESSMENT
============================================================

1. MISSING VALUES:
        Column  Missing Values  Percentage
0    InvoiceNo               0    0.000000
1    StockCode               0    0.000000
2  Description            1454    0.268311
3     Quantity               0    0.000000
4  InvoiceDate               0    0.000000
5    UnitPrice               0    0.000000
6   CustomerID          135080   24.926694
7      Country               0    0.000000

2. DUPLICATES:
Total duplicate rows: 5268

3. NEGATIVE QUANTITIES:
Rows with negative Quantity: 10624
Percentage: 1.96%

4. ZERO/INVALID PRICES:
Rows with UnitPrice <= 0: 2517

5. CANCELLED ORDERS:
Rows with cancelled orders: 9288

6. UNIQUE COUNTRIES (38 total):
Country
United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Netherlands         2371
Belgium             2069
Switzerland         2002
Portugal            1519
Australia           1259
Name: count, dtype: int64

7. SUMMARY STATISTICS:

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [ ]:
# Create a cleaning log to document all issues found
cleaning_log = pd.DataFrame({
    'Issue': [
        'Missing CustomerID',
        'Negative Quantities',
        'Cancelled Orders (InvoiceNo starts with C)',
        'Zero/Invalid UnitPrice',
        'Duplicate Rows'
    ],
    'Column': [
        'CustomerID',
        'Quantity',
        'InvoiceNo',
        'UnitPrice',
        'All Columns'
    ],
    'Rows Affected': [
        df['CustomerID'].isnull().sum(),
        len(df[df['Quantity'] < 0]),
        len(df[df['InvoiceNo'].astype(str).str.startswith('C', na=False)]),
        len(df[df['UnitPrice'] <= 0]),
        df.duplicated().sum()
    ],
    'Action Taken': [
        'Remove rows',
        'Remove (for analysis of completed sales)',
        'Remove',
        'Remove',
        'Remove duplicates'
    ]
})

print("CLEANING LOG:")
cleaning_log

# Save cleaning log
cleaning_log.to_csv('cleaning_log.csv', index=False)
print("\n Cleaning log saved as 'cleaning_log.csv'")

CLEANING LOG:

 Cleaning log saved as 'cleaning_log.csv'

In [ ]:
print("="*60)
print("DATA CLEANING PROCESS")
print("="*60)

# Make a copy of original data
df_clean = df.copy()
original_rows = len(df_clean)
print(f"\nStarting with {original_rows} rows")

# 1. Remove duplicates
before = len(df_clean)
df_clean = df_clean.drop_duplicates()
after = len(df_clean)
print(f"\n1. Removed {before - after} duplicate rows")

# 2. Remove rows with missing CustomerID
before = len(df_clean)
df_clean = df_clean.dropna(subset=['CustomerID'])
after = len(df_clean)
print(f"2. Removed {before - after} rows with missing CustomerID")

# 3. Remove cancelled orders (InvoiceNo starting with 'C')
before = len(df_clean)
df_clean = df_clean[~df_clean['InvoiceNo'].astype(str).str.startswith('C', na=False)]
after = len(df_clean)
print(f"3. Removed {before - after} cancelled orders")

# 4. Remove negative quantities
before = len(df_clean)
df_clean = df_clean[df_clean['Quantity'] > 0]
after = len(df_clean)
print(f"4. Removed {before - after} rows with negative quantities")

# 5. Remove zero/invalid prices
before = len(df_clean)
df_clean = df_clean[df_clean['UnitPrice'] > 0]
after = len(df_clean)
print(f"5. Removed {before - after} rows with zero/invalid prices")

# 6. Remove rows with missing or invalid descriptions
before = len(df_clean)
df_clean = df_clean.dropna(subset=['Description'])
df_clean = df_clean[df_clean['Description'].str.strip() != '']
df_clean = df_clean[~df_clean['Description'].str.contains(r'^\?+$', na=False)]
after = len(df_clean)
print(f"6. Removed {before - after} rows with missing/invalid descriptions")

print(f"\n Final dataset has {len(df_clean)} rows (kept {(len(df_clean)/original_rows)*100:.2f}% of original)")

============================================================
DATA CLEANING PROCESS
============================================================

Starting with 541909 rows

1. Removed 5268 duplicate rows
2. Removed 135037 rows with missing CustomerID
3. Removed 8872 cancelled orders
4. Removed 0 rows with negative quantities
5. Removed 40 rows with zero/invalid prices
6. Removed 0 rows with missing/invalid descriptions

 Final dataset has 392692 rows (kept 72.46% of original)

In [ ]:
print("="*60)
print("FEATURE ENGINEERING")
print("="*60)

# Convert InvoiceDate to datetime
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])

# 1. Add TotalPrice column
df_clean['TotalPrice'] = df_clean['Quantity'] * df_clean['UnitPrice']
print(" Added 'TotalPrice' column")

# 2. Add Month column
df_clean['Month'] = df_clean['InvoiceDate'].dt.month
df_clean['MonthName'] = df_clean['InvoiceDate'].dt.strftime('%B')
print(" Added 'Month' and 'MonthName' columns")

# 3. Add Year column
df_clean['Year'] = df_clean['InvoiceDate'].dt.year
print(" Added 'Year' column")

# 4. Add Day of Week
df_clean['DayOfWeek'] = df_clean['InvoiceDate'].dt.day_name()
print(" Added 'DayOfWeek' column")

# 5. Add Hour column
df_clean['Hour'] = df_clean['InvoiceDate'].dt.hour
print(" Added 'Hour' column")

# 6. Add IsWeekend flag
df_clean['IsWeekend'] = df_clean['InvoiceDate'].dt.dayofweek.isin([5, 6]).astype(int)
print(" Added 'IsWeekend' flag")

# 7. Add TransactionID (just for reference)
df_clean['TransactionID'] = range(1, len(df_clean) + 1)
print(" Added 'TransactionID' column")

# Show the new columns
print("\nNew columns added:")
new_cols = ['TotalPrice', 'Month', 'MonthName', 'Year', 'DayOfWeek', 'Hour', 'IsWeekend', 'TransactionID']
df_clean[new_cols].head()

============================================================
FEATURE ENGINEERING
============================================================
 Added 'TotalPrice' column
 Added 'Month' and 'MonthName' columns
 Added 'Year' column
 Added 'DayOfWeek' column
 Added 'Hour' column
 Added 'IsWeekend' flag
 Added 'TransactionID' column

New columns added:

,TotalPrice,Month,MonthName,Year,DayOfWeek,Hour,IsWeekend,TransactionID
0,15.30,12,December,2010,Wednesday,8,0,1
1,20.34,12,December,2010,Wednesday,8,0,2
2,22.00,12,December,2010,Wednesday,8,0,3
3,20.34,12,December,2010,Wednesday,8,0,4
4,20.34,12,December,2010,Wednesday,8,0,5

In [ ]:
# Save cleaned data to CSV
df_clean.to_csv('online_retail_cleaned.csv', index=False)
print("Cleaned dataset saved as 'online_retail_cleaned.csv'")

# Download the files to your computer
from google.colab import files

print("\nDownloading files...")
files.download('data_dictionary.csv')
files.download('cleaning_log.csv')
files.download('online_retail_cleaned.csv')
print("All files downloaded!")

Cleaned dataset saved as 'online_retail_cleaned.csv'

Downloading files...

All files downloaded!

In [1]:
print("="*60)
print("KEY INSIGHTS FOR YOUR VIDEO")
print("="*60)

print(f"\n Original dataset: {original_rows} rows")
print(f" Cleaned dataset: {len(df_clean)} rows")
print(f" Removed: {original_rows - len(df_clean)} rows ({((original_rows - len(df_clean))/original_rows)*100:.1f}%)")

print(f"\n Total Revenue: {df_clean['TotalPrice'].sum():,.2f}")
print(f"  Total Transactions: {df_clean['InvoiceNo'].nunique()}")
print(f" Unique Customers: {df_clean['CustomerID'].nunique()}")
print(f" Unique Products: {df_clean['StockCode'].nunique()}")
print(f" Countries: {df_clean['Country'].nunique()}")

print(f"\n Date Range: {df_clean['InvoiceDate'].min().date()} to {df_clean['InvoiceDate'].max().date()}")

print("\n Top 5 Countries by Revenue:")
country_revenue = df_clean.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False).head()
for country, revenue in country_revenue.items():
    print(f"   {country}: {revenue:,.2f}")

============================================================
KEY INSIGHTS FOR YOUR VIDEO
============================================================

NameError: name 'original_rows' is not defined